interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/teams/JyLa085jwVs1?source=app-name12345&format=json
  response:
    body: {string: '{"Id":"JyLa085jwVs1","Name":"Max Chandler","Description":""}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Id": "", "UserName": "jobaba1@pieshop.net", "FirstName": "Jo", "LastName":
      "Baba1", "FullName": "", "Email": "jobaba1@pieshop.net", "AccessLevel": "Learner",
      "DisableMessages": true, "Active": true, "Skype": "", "PhoneWork": "", "PhoneMobile":
      "", "LastLogin": "", "LoginKey": "", "IsCustomUsername": false, "Password":
      "", "SkipFirstLogin": true, "TimeZone": "UTC", "Street1": "", "Street2": "",
      "City": "", "State": "", "PostalCode": "", "Country": "", "CompanyName": "",
      "JobTitle": "", "CustomField1": "", "CustomField2": "", "CustomField4": "",
      "CustomField5": "", "CustomField6": "", "CustomField7": "", "CustomField8":
      "", "CustomField9": "", "CustomField10": "", "Culture": ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.litmos.com/v1.svc/users?source=app-name12345&format=json
  response:
    body: {string: '{"Id":"cY6aotmMBXI1","UserName":"jobaba1@pieshop.net","FirstName":"Jo","LastName":"Baba1","FullName":"Jo
        Baba1","Email":"jobaba1@pieshop.net","AccessLevel":"Learner","DisableMessages":true,"Active":true,"Skype":"","PhoneWork":"","PhoneMobile":"","LastLogin":"","LoginKey":"https:\/\/app-name12345\/\/login.aspx?loginkey=a83e5530-db1a-49d2-ab61-afa59655641c","IsCustomUsername":false,"Password":"","SkipFirstLogin":false,"TimeZone":"UTC","SalesforceId":null,"OriginalId":5098414,"Street1":"","Street2":"","City":"","State":"","PostalCode":"","Country":"","CompanyName":"","JobTitle":"","CustomField1":"","CustomField2":"","CustomField3":"","Culture":"en-US","CustomField4":"","CustomField5":"","CustomField6":"","CustomField7":"","CustomField8":"","CustomField9":"","CustomField10":"","SalesforceContactId":null,"SalesforceAccountId":null,"CreatedDate":"2016-12-21T12:49:02Z","Points":0}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: Created}
[...]
- request:
    body: '[{"Id": "cY6aotmMBXI1", "UserName": "jobaba1@pieshop.net", "FirstName":
      "Jo", "LastName": "Baba1"}, {"Id": "A5WgbmCW_QY1", "UserName": "jobaba2@pieshop.net",
      "FirstName": "Jo", "LastName": "Baba2"}]'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.litmos.com/v1.svc/teams/JyLa085jwVs1/users?source=app-name12345&format=json
  response:
    body: {string: ''}
    headers:
    status: {code: 201, message: Created}
version: 1
