interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/users?source=app-name12345&format=json&search=paul.smith2
  response:
    body: {string: '[{"Id":"1Ued06dKZOc1","UserName":"paul.smith2","FirstName":"Paul","LastName":"Jacobson","Active":true,"Email":"paul.smith1@pieshop.com","AccessLevel":"Learner"}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Id": "1Ued06dKZOc1", "UserName": "paul.smith2", "FirstName": "Paul",
      "LastName": "Jacobson", "FullName": "", "Email": "paul.smith1@pieshop.com",
      "AccessLevel": "Learner", "DisableMessages": true, "Active": false, "Skype":
      "", "PhoneWork": "", "PhoneMobile": "", "LastLogin": "", "LoginKey": "", "IsCustomUsername":
      false, "Password": "", "SkipFirstLogin": true, "TimeZone": "UTC", "Street1":
      "", "Street2": "", "City": "", "State": "", "PostalCode": "", "Country": "",
      "CompanyName": "", "JobTitle": "", "CustomField1": "", "CustomField2": "", "CustomField4":
      "", "CustomField5": "", "CustomField6": "", "CustomField7": "", "CustomField8":
      "", "CustomField9": "", "CustomField10": "", "Culture": ""}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.litmos.com/v1.svc/users/1Ued06dKZOc1?source=app-name12345&format=json
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/users?source=app-name12345&format=json&search=paul.smith2
  response:
    body: {string: '[{"Id":"1Ued06dKZOc1","UserName":"paul.smith2","FirstName":"Paul","LastName":"Jacobson","Active":false,"Email":"paul.smith1@pieshop.com","AccessLevel":"Learner"}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
