interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/users?source=app-name12345&format=json&search=charlie.quinn
  response:
    body: {string: '[{"Id":"857-AOB444E1","UserName":"charlie.quinn","FirstName":"Charlie","LastName":"Quinn","Active":true,"Email":"charlie.quinn@pieshop.net","AccessLevel":"Account_Owner"},{"Id":"y1vW1y4WYJE1","UserName":"charlie.quinn123","FirstName":"Mark","LastName":"Smith","Active":true,"Email":"charlesquinn1984@gmail.com","AccessLevel":"Learner"},{"Id":"fCbdglG3g9g1","UserName":"charlie.quinn@pieshop.net","FirstName":"Mark","LastName":"Quinn","Active":true,"Email":"Charlie.Quinn@pieshop.net","AccessLevel":"Account_Owner"}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Id": "857-AOB444E1", "UserName": "charlie.quinn", "FirstName": "Charlie",
      "LastName": "Quinn", "FullName": "", "Email": "charlie.quinn@pieshop.net",
      "AccessLevel": "Account_Owner", "DisableMessages": true, "Active": true, "Skype":
      "skypeeeeeewoo", "PhoneWork": "", "PhoneMobile": "", "LastLogin": "", "LoginKey":
      "", "IsCustomUsername": false, "Password": "", "SkipFirstLogin": true, "TimeZone":
      "UTC", "Street1": "", "Street2": "", "City": "", "State": "", "PostalCode":
      "", "Country": "", "CompanyName": "", "JobTitle": "", "CustomField1": "", "CustomField2":
      "", "CustomField4": "", "CustomField5": "", "CustomField6": "", "CustomField7":
      "", "CustomField8": "", "CustomField9": "", "CustomField10": "", "Culture":
      ""}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.litmos.com/v1.svc/users/857-AOB444E1?source=app-name12345&format=json
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
version: 1
