interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/teams/JyLa085jwVs1?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: '{"Id":"JyLa085jwVs1","Name":"Max Chandler","Description":""}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/teams/JyLa085jwVs1/teams?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: '[{"Id":"rUxaeaSvSBg1","Name":"Caroline Ross","TeamCodeForBulkImport":"404487-CarolineRoss"},{"Id":"4RotCpfMKEY1","Name":"Kathleen
        Smith","TeamCodeForBulkImport":"404486-KathleenSmith"}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
