interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/teams/JyLa085jwVs1?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: '{"Id":"JyLa015jwVs1","Name":"Max Chandler","Description":""}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/teams/JyLa015jwVs1/users?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: '[{"Id":"zjWTVhcqs981","UserName":"caroline.ross@pieshop.net","FirstName":"Caroline","LastName":"Ross","Active":true,"Email":"caroline.ross@pieshop.net","AccessLevel":"Team_Leader"},{"Id":"fS3A7u1I1-41","UserName":"chris.williams@pieshop.net","FirstName":"Chris","LastName":"Williams","Active":true,"Email":"chris.williams@pieshop.net","AccessLevel":"Team_Leader"},{"Id":"wtMQOFamSas1","UserName":"max.chandler@pieshop.net","FirstName":"Max","LastName":"Chandler","Active":true,"Email":"max.chandler@pieshop.net","AccessLevel":"Team_Leader"}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
