interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/teams/JyLa085jwVs1?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: '{"Id":"JyLa085jwVs1","Name":"Max Chandler","Description":""}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Id": "", "UserName": "jobaba100@pieshop.net", "FirstName": "Jo", "LastName":
      "Baba100", "FullName": "", "Email": "jobaba100@pieshop.net", "AccessLevel":
      "Learner", "DisableMessages": true, "Active": true, "Skype": "", "PhoneWork":
      "", "PhoneMobile": "", "LastLogin": "", "LoginKey": "", "IsCustomUsername":
      false, "Password": "", "SkipFirstLogin": true, "TimeZone": "UTC", "Street1":
      "", "Street2": "", "City": "", "State": "", "PostalCode": "", "Country": "",
      "CompanyName": "", "JobTitle": "", "CustomField1": "", "CustomField2": "", "CustomField4":
      "", "CustomField5": "", "CustomField6": "", "CustomField7": "", "CustomField8":
      "", "CustomField9": "", "CustomField10": "", "Culture": ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.litmos.com/v1.svc/users?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: '{"Id":"_TO1js_pMiw1","UserName":"jobaba100@pieshop.net","FirstName":"Jo","LastName":"Baba100","FullName":"Jo
        Baba100","Email":"jobaba100@pieshop.net","AccessLevel":"Learner","DisableMessages":true,"Active":true,"Skype":"","PhoneWork":"","PhoneMobile":"","LastLogin":"","LoginKey":"https:\/\/app-name12345\/\/login.aspx?loginkey=045179a9-4657-4e22-b0e4-418f4b116d98","IsCustomUsername":false,"Password":"","SkipFirstLogin":false,"TimeZone":"UTC","SalesforceId":null,"OriginalId":5098760,"Street1":"","Street2":"","City":"","State":"","PostalCode":"","Country":"","CompanyName":"","JobTitle":"","CustomField1":"","CustomField2":"","CustomField3":"","Culture":"en-US","CustomField4":"","CustomField5":"","CustomField6":"","CustomField7":"","CustomField8":"","CustomField9":"","CustomField10":"","SalesforceContactId":null,"SalesforceAccountId":null,"CreatedDate":"2016-12-21T14:46:43Z","Points":0}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: Created}
[...]
- request:
    body: '[{"Id": "_TO1js_pMiw1", "UserName": "jobaba100@pieshop.net", "FirstName":
      "Jo", "LastName": "Baba100"}, {"Id": "6BI6f6Mblfw1", "UserName": "jobaba66@pieshop.net",
      "FirstName": "Jo", "LastName": "Baba66"}]'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.litmos.com/v1.svc/teams/JyLa085jwVs1/users?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: ''}
    headers:
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: PUT
    uri: https://api.litmos.com/v1.svc/teams/JyLa085jwVs1/leaders/_TO1js_pMiw1?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.litmos.com/v1.svc/teams/JyLa085jwVs1/leaders/_TO1js_pMiw1?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
version: 1
