interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/users?apikey=app-key12345&source=app-name12345&format=json&search=jobaba2@pieshop.net
  response:
    body: {string: '[{"Id":"A5WgbmCW_QY1","UserName":"jobaba2@pieshop.net","FirstName":"Jo","LastName":"Baba2","Active":true,"Email":"jobaba2@pieshop.net","AccessLevel":"Learner"}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.litmos.com/v1.svc/users/A5WgbmCW_QY1/teams?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
version: 1
