interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/users?apikey=app-key12345&source=app-name12345&format=json&search=charlie.smith@pieshop.net
  response:
    body: {string: '[{"Id":"CCzIpPA13Wo1","UserName":"charlie.smith@pieshop.net","FirstName":"Charlie","LastName":"Smith","Active":true,"Email":"charlie.smith@pieshop.net","AccessLevel":"Account_Owner"}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
