interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/users?apikey=app-key12345&source=app-name12345&format=json&limit=200
  response:
    body: {string: "[{\"Id\":\"mVN_K4Q9yuQ1\",\"UserName\":\"paul.hirst@pieshop.net\"\
        ,\"FirstName\":\"Paul\",\"LastName\":\"Hirst\",\"Active\":true,\"Email\"\
        :\"paul.hirst@pieshop.net\",\"AccessLevel\":\"Team_Leader\"},{\"Id\"\
        :\"Kod1a6lLq1M1\",\"UserName\":\"laura.kelvin@pieshop.net\",\"FirstName\"\
        :\"Laura\",\"LastName\":\"Kelvin\",\"Active\":true,\"Email\":\"laura.kelvin@pieshop.net\"\
        ,\"AccessLevel\":\"Team_Leader\"}]"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/users?apikey=app-key12345&source=app-name12345&format=json&limit=200&start=200
  response:
    body: {string: "[{\"Id\":\"mVN_K4Q4awA1\",\"UserName\":\"james.smith@pieshop.net\"\
        ,\"FirstName\":\"James\",\"LastName\":\"Smith\",\"Active\":true,\"Email\"\
        :\"james.smith@pieshop.net\",\"AccessLevel\":\"Team_Leader\"},{\"Id\"\
        :\"Kol1aq1ptM1\",\"UserName\":\"pat.bonner@pieshop.net\",\"FirstName\"\
        :\"Stuart\",\"LastName\":\"Kelvin\",\"Active\":true,\"Email\":\"pat.bonner@pieshop.net\"\
        ,\"AccessLevel\":\"Learner\"}]"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.litmos.com/v1.svc/users?apikey=app-key12345&source=app-name12345&format=json&limit=200&start=1000
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
