interactions:
- request:
    body: '{"Id": "", "UserName": "john.smith", "FirstName": "John", "LastName": "Smith",
      "FullName": "", "Email": "john.smith@pieshop.com", "AccessLevel": "Learner",
      "DisableMessages": false, "Active": true, "LoginKey": "", "IsCustomUsername":
      true, "SkipFirstLogin": false, "TimeZone": ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.litmos.com/v1.svc/users?apikey=app-key1234&source=app-name12345&format=json
  response:
    body: {string: '{"Id":"kNx2k8BJr_I1","UserName":"john.smith","FirstName":"John","LastName":"Smith","FullName":"John
        Smith","Email":"john.smith@pieshop.com","AccessLevel":"Learner","DisableMessages":false,"Active":true,"Skype":"","PhoneWork":"","PhoneMobile":"","LastLogin":"","LoginKey":"https:\/\/piesandbox.litmos.com\/\/login.aspx?loginkey=d22acf05-57f5-43c1-91b9-8277981eb5bd","IsCustomUsername":true,"Password":"","SkipFirstLogin":false,"TimeZone":"UTC","SalesforceId":null,"OriginalId":5077798,"Street1":"","Street2":"","City":"","State":"","PostalCode":"","Country":"","CompanyName":"","JobTitle":"","CustomField1":"","CustomField2":"","CustomField3":"","Culture":"en-US","CustomField4":"","CustomField5":"","CustomField6":"","CustomField7":"","CustomField8":"","CustomField9":"","CustomField10":"","SalesforceContactId":null,"SalesforceAccountId":null,"CreatedDate":"2016-12-16T16:26:42Z","Points":0}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: Created}
version: 1
