interactions:
- request:
    body: '{"Id": "", "UserName": "jobaba@pieshop.net", "FirstName": "Jo", "LastName":
      "Baba", "FullName": "", "Email": "jobaba@pieshop.net", "AccessLevel": "Learner",
      "DisableMessages": true, "Active": true, "Skype": "", "PhoneWork": "", "PhoneMobile":
      "", "LastLogin": "", "LoginKey": "", "IsCustomUsername": false, "Password":
      "", "SkipFirstLogin": true, "TimeZone": "UTC", "Street1": "", "Street2": "",
      "City": "", "State": "", "PostalCode": "", "Country": "", "CompanyName": "",
      "JobTitle": "", "CustomField1": "", "CustomField2": "", "CustomField4": "",
      "CustomField5": "", "CustomField6": "", "CustomField7": "", "CustomField8":
      "", "CustomField9": "", "CustomField10": "", "Culture": ""}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.litmos.com/v1.svc/users?apikey=app-key12345&source=app-name12345&format=json
  response:
    body: {string: '{"Id":"ZUhjzXUqmTo1","UserName":"jobaba@pieshop.net","FirstName":"Jo","LastName":"Baba","FullName":"Jo
        Baba","Email":"jobaba@pieshop.net","AccessLevel":"Learner","DisableMessages":true,"Active":true,"Skype":"","PhoneWork":"","PhoneMobile":"","LastLogin":"","LoginKey":"https:\/\/pieshop.litmos.com\/\/login.aspx?loginkey=c6bc7333-6548-44b5-a497-1cebc07775cc","IsCustomUsername":false,"Password":"","SkipFirstLogin":false,"TimeZone":"UTC","SalesforceId":null,"OriginalId":5090886,"Street1":"","Street2":"","City":"","State":"","PostalCode":"","Country":"","CompanyName":"","JobTitle":"","CustomField1":"","CustomField2":"","CustomField3":"","Culture":"en-US","CustomField4":"","CustomField5":"","CustomField6":"","CustomField7":"","CustomField8":"","CustomField9":"","CustomField10":"","SalesforceContactId":null,"SalesforceAccountId":null,"CreatedDate":"2016-12-20T11:41:31Z","Points":0}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: Created}
version: 1
